@import url(./card.css);
@import url(./load.css);
@import url(./modale.css);
@import url(./cardModel.css);

html,
body {
    width: 100%;
    height: 100%;
    align-content: center;
    margin: 0;
    background-color: aliceblue;
}

.template {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, calc(100%/5));
    grid-template-rows: 10% 27% 27% 10%;
    row-gap: 3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.textShadow {

    font-size: 2em;
    text-align: center;
    align-content: center;
    text-shadow: 2px 5px 5px rgb(0, 0, 0);
    user-select: none;
    cursor: pointer;


}
.allBorder {

    border: 1px solid black;
}

#search {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 50%;
    width: 90%;
    border-radius: 10px;
    font-size: 2em;
    margin: 5%;
}

#searchButton {
    font-size: 3em;
}


#type{
    background-color: transparent;
    border: none;
    width: 60%;
}
option:active,select:focus {
    border:none;
    outline:none;
    border:transparent;
}
#more{
    grid-column: 3;
    user-select: none;

}









